---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Montserrat', sans-serif;
$base-font-size:   1em;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.4;

$body-font-family: 'Roboto Slab', serif;
$body-font-size:   1.1em;
$body-font-weight: 300;
$body-small-font-size:  $base-font-size * 0.875;
$body-base-line-height: 1.4;

$spacing-unit:     30px;

$text-color:       #333;
$background-color: #fbfbfb;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.post-title {
	font-family: $base-font-family;
	font-weight: 400;
}

.post-title-list {
	margin-bottom: 0;
}

// begin custom styles
.post-content {
	font-family: $body-font-family;
	font-size: $body-font-size;
	font-weight: $body-font-weight;
	base-line-height: $body-base-line-height;
}

.post-content img {
	margin-bottom: $spacing-unit / 2;	
}

.post-content-header {
	font-family: $base-font-family;
	font-size: $small-font-size;
	margin-bottom: 1em;
}

.site-title-header {
	display: none;
}

@include media-query($on-palm) {
	.site-title-header {
		font-size: 2.4em;
		font-weight: 300;
		line-height: 1.5;
		display: inline;
	}
}

@mixin hcommon {
	
}

h1, h2, h3, h4, h5, h6 {
	margin-top: $spacing-unit;
	margin-bottom: 0;
}

h1 {
	font-size: $base-font-size * 2;
	font-weight: 400;
}

h2 {
	font-size: $base-font-size * 1.75;
	font-weight: 400;
}

h3 {
	font-size: $base-font-size * 1.5;
	font-weight: 400;
}

h4 {
	font-size: $base-font-size * 1.25;
	font-weight: 400;
}


h5, h6 {
	font-size: $base-font-size * 1.25;
	font-weight: 400;
}

.page-link-highlighted {
	font-weight: 400;
}

.post-tag-list {
  display: inline;
  list-style: none;
  margin: 0px;
  	li {
 		display: inline;
	}
	li:after {
  		content: ", ";
	}
	li:last-child:after {
    	content: ".";
	}
}

strong {
	font-weight: 700;
}